.App {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #303030;
  border-radius: 10px;
}

.App-header h3 {
  padding-left: 15px;
  color: #fff;
}

.App-footer a {
  display: flex;
  text-decoration: none;
  padding: 15px;
}
